.food-card{
    border: 1px solid goldenrod;
   

}
.thumb{
    width: 100%;
}
button{
    border: none;
    padding: 10px 20px;
    background-color:goldenrod;
    font-size: 15px;
    /* font-weight: bold; */
    color: white;
    margin-bottom: 10px;
    cursor: pointer;
}